<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.care.apt.admin.AdminMapper">
  	<select id="totalCount">
  		SELECT count(id) FROM apt_member
  	</select>
	<select id="selectUserAll" resultType="com.care.apt.member.MemberDTO">
		SELECT * FROM (SELECT rownum as rn, AAA.* 
		FROM (SELECT * FROM apt_member ORDER BY id ASC)AAA)BBB 
		WHERE rn BETWEEN #{begin} AND #{end}
		ORDER BY status DESC
	</select>
  </mapper>