.homeContainer{width:100%; margin:0 auto;}

/*header*/
.logo{
	width:100%;
	height:80px;
	line-height:80px;
	padding:10px 0;
	text-align:center;
}

.logo > a > img,
.logo > a > h1{display:inline-block;}

.logo > a > img{width:60px; height:80px;}
.logo > a > h1{padding-top:10px;}

.headerMenu{
	width:100%;
	height:40px;
	text-align:right;
}
.headerMenu ul li{
	display:inline-block;
	padding-right:10px;
}
.headerMenu ul li:last-child{padding-right:0;}
.headerMenu ul li a{display:block;}

.headerNav{
	width:100%;
	text-align:center;
}
.headerNav ul li{
	display:inline-block;
	width:33%;
	height:40px;
	line-height:40px;
}

/*main*/
.mainContainer{
	padding:40px 0;
}

/*footer*/
.footerContainer{
	padding:40px 0;
	background-color: #ddd;
}